body {
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
}
.intro-pic {
  width: 80vw;
  height: 35vw;
  background-image: url("https://images.unsplash.com/photo-1490682143684-14369e18dce8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3450&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
}
