body {
  font-family: "Gothic A1", Arial, sans-serif;
  font-weight: 500;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-weight: 800;
  font-size: 4rem;
  margin-top: 5rem;
  margin-block-end: 0;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 3.5rem;
  /* background-color: gray;  */
}

.nav-head a:hover {
  background-color: gray;
}
.nav-head a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1rem 0.25rem 1rem;
  width: 5rem;
  text-align: center;

  color: lightgray;
  background-color: black;
  margin: 0 0.25rem;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
}
.intro h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}
.intro p {
  width: 60vw;
  margin: 0 0 2vw 0;
}
.intro-pic {
  border-radius: 1vw;
  width: 80vw;
  height: 25vw;
  background-image: url("https://images.unsplash.com/photo-1490682143684-14369e18dce8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3450&q=80");
  background-repeat: no-repeat;
  background-position-y: -8vw;
  background-size: 100%;
  margin-bottom: 2vw;
}

.projects {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2vw;
}
.projects div {
  width: 12vw;
  height: 20vw;
  /* border: 2px solid red; */
  border-radius: 1vw;
  background-repeat: no-repeat;
  background-size: cover, contain;
}
.proj-name-1,
.proj-name-2,
.proj-name-3,
.proj-name-4 {
  background-image: url("https://picsum.photos/300/400");
}
.projects p {
  display: flex;
  width: 30%;
  box-sizing: border-box;
  /* border: 2px solid red; */
  padding: 1.5vw 4vw;
  border-radius: 2vw;
  margin: 0;
  align-items: center;
}
footer {
  margin-bottom: 3rem;
}
.foot-contact {
  box-sizing: border-box;
  height: 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  width: 6rem;
  text-decoration: none;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 1.5;
}
footer nav a {
  width: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  line-height: 0;
}
footer nav a:hover {
  background-color: gray;
}
.social {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
}
